* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 100vh;
    display: flex;
    color: rgb(0, 0, 0);
    scroll-snap-align: start;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10rem;
    background: #3498db;
    font-size: 12pt;
    position: absolute;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 500px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #ffffff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
}

nav a:hover,
nav a:active {
    background-color: #ffffff;
    color: #333;
    border-radius: 1.5em;
}

nav a#pull {
    display: none;
}

tr {
    justify-content: right;
}

.logo {
    margin: 5%;
    width: fit-content;
    font-family: noto;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background-color: aquamarine;
}

.two {
    background-color: aquamarine;
}

.three {
    background-color: aquamarine;
}

.four {
    background-color: aquamarine;
}